.resi
{
    color: brown;
}
a:link{
    text-decoration: none;

}
h3{
    color: blue;
}
body{
    background-color: rgb(97, 185, 157);
}


.main{
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}